# Derleme dosyaları
*.o
*.a
CPP00/ex00/megaphone
CPP00/ex01/phonebook

CPP01/ex00/zombie
CPP01/ex01/zombie_horde
CPP01/ex02/brain
CPP01/ex03/weapon
CPP01/ex04/sed
CPP01/ex05/harl
CPP01/ex06/harlFilter

CPP02/ex00/fixed
CPP02/ex01/betterFixed
CPP02/ex02/bestFixed
CPP02/ex03/orthodox

CPP03/ex00/claptrap
CPP03/ex01/scavtrap
CPP03/ex02/fragtrap

CPP04/ex00/animal


# Geçici dosyalar
*~
*.swp

# IDE dosyaları
.vscode/

# OS dosyaları
.DS_Store